@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

a {
  text-decoration: none;
  color: #222;
}
.app {
  width: 90%;
  margin: auto;
}
header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 130px;
}
.navbar {
  display: flex;
  gap: 15px;
  font-size: 14px;
}
.navbar a:first-child {
  border-bottom: 2px solid tomato;
}
.header-cta {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-cta img {
  width: 25px;
}
.header-cta button {
  padding: 10px 20px;
  /* color: tomato; */
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid tomato;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.header-cta button:hover {
  background-color: tomato;
  color: #fff;
  /* font-weight: bolder; */
}
.header-cart {
  position: relative;
}
.dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: tomato;
  border-radius: 50%;
  top: -6px;
  right: -7px;
}

/* hero-section **************************/

.hero {
  background-image: url("./assets/header_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  margin: 20px 20px;
  position: relative;
  border-radius: 20px;
}

.hero-content {
  position: absolute;
  bottom: 40px;
  width: 60%;
  left: 20px;
  color: #fff;
}

.hero-content h1 {
  font-size: 50px;
  line-height: 60px;
}
.hero-content p {
  font-size: 11px;
  margin: 5px 0;
}
.hero-content button {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: transparent;
  /* font-weight: 700; */
  margin-top: 20px;

  color: rgb(0, 0, 0);
  background-color: #fff;
  border: none;
}

@media (max-width: 1100px) {
  .app {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .navbar {
    display: none;
  }
  .hero-content {
    width: 90%;
  }
}

/* menu *******************************/

.menu {
  padding: 0 20px;
}
.menu h3 {
  font-size: 30px;
}
.menu p {
  font-size: 11px;
}
.menu_list {
  display: flex;
  margin: 20px 0;
  gap: 20px;
  overflow-x: scroll;
}
.menu_list::-webkit-scrollbar {
  display: none;
}
.menu_catogorey img {
  width: 80px;
  border-radius: 50%;
  padding: 2px;
}
.menu_catogorey {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.menu_catogorey h5 {
  font-weight: 500;
}
.catogorey_active img {
  border: 4px solid tomato;
}
